---
layout: default
---
{%- if page.title -%}
<h1>{{ page.title | escape }}</h1>
{%- endif -%}

<ul>
{% for post in site.posts %}  
<li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

{% for post in site.posts limit:3 %}
<article>

  <header>
    <h1>{{ post.title | escape }}</h1>
    <p>
      <time datetime="{{ post.date | date_to_xmlschema }}">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ post.date | date: date_format }}
      </time> · <a href="{{ post.url | relative_url }}">Link</a>
    </p>
  </header>

  <div>
    {{ post.content }}
  </div>

</article>
{% endfor %}